.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
docs_gitactions_failure_log
gds_failure_log
TEST_CHANGES.md
test/test_run.log
